<!DOCTYPE html>
<html>
<head>
  <title>Meine Website</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Willkommen auf meiner Website</h1>
  <a href="/about">Über mich</a> | <a href="/contact">Kontakt</a>
</body>
</html>
